h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
}



.stCard {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  max-width: 500px;
  /* border: 5px solid #0988b3; */
}

.stCard:hover {
  background: rgba(9, 136, 179, 0.1);
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  border-color: #0678a3;
}

.stCard p {
  color: #2c3e50;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.stCard p:first-child {
  font-size: 18px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 15px;
}




