h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
}


.navbar {
  background: whitesmoke;
  padding: 0.5rem;
  opacity: 0.7;
  position: static;
  width: 100%;
  height: 65px;
}


.nav-links {
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 3rem;
  margin-left: 3rem;
  padding: 0;
}


.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 81);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.nav-links a:hover {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}


.footer {
  width: 100%;
  background: rgba(1, 1, 1, 0.7);
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.stCard {
  color: whitesmoke;
  border: 5px solid black;
  border-radius: 10px;
  padding: 2px;
  margin: 10px;
  width: 300px;
  text-align: center;
  background-color: rgb(25, 83, 240);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.stCard:hover {
  padding: 5px;
  background-color: navy;
}


.Services {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: black;
  color: whitesmoke;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  height: 50px;
  width: 300px;
  text-align: center;
  align-items: center;
  color: black;
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.our_Services {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 65px;
  justify-content: center;
}


.Services:hover{
  color: white;
  background-color: rgb(66, 178, 247);
  padding: 12px;
}

.nav-links a.active {
  color: #0988b3;
  border-bottom: 2px solid #0988b3;
  transition: all 0.3s ease;
}
